Tags are used to split one specific metric to allow deep drill done as well as accumulation based on criteria.<br/>
Tags are provided to the metric when executing the actual measurement.
<br/>
<h2>Usage</h2>
<form (ngSubmit)="onSubmit()" class="form-inline">
  <app-dropdown></app-dropdown>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
Done via
<br/>
<img src="assets/images/tag/1.png" width="100%"/>
<h2>Grafana Dashboard</h2>
<a href="http://localhost:3000/d/bFCj7RTZz/" target="_blank">Dashboard</a>
