Distribution summary are used when monitoring the distribution of something specific over time.<br/>
Example could be file size of an upload form or items purchased per order.
<h2>Metric creation</h2>
Metric created in @PostConstruct, via:
<img src="assets/images/distributionsummary/1.png" width="100%"/>
<br/>
<h2>Usage</h2>
<form (ngSubmit)="onSubmit()" class="form-inline">
  <div class="form-group mr-2">
    Amount
  </div>
  <div class="form-group mr-2">
    <input type="text" [(ngModel)]="amount" class="form-control mb-2" id="amount" name="amount">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
<br/>
<br/>
Done via
<br/>
<img src="assets/images/distributionsummary/2.png"/>
<h2>Grafana Dashboard</h2>
<a href="http://localhost:3000/d/XFjjngoZk/" target="_blank">Dashboard</a>
